html { //for sticky footer
  position: relative;
  min-height: 100%;
}

body {
	color: $white;
	background-image: url('../images/background-flipped-dark.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	box-sizing: border-box;
	font-weight: 300;
	letter-spacing: 1px;

	margin-bottom: 60px; //for sticky footer
}

.wrapper {
	padding-top: 3%;
}

#logo {
	max-width: 110px;
}

//navigation links
nav {

	a {
		display: inline-block;
		margin-right: 40px;
		padding-bottom: 5px;
		text-transform: uppercase;
		color: $white;
		font-weight: 300;
		text-decoration: none;

		&:hover {
			color: $yellow;
			border-bottom: 3px solid $yellow;
		}
	}

} //end nav


h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 4em;
}


#about {

	p {
		margin-bottom: 40px;
	}

	.line-rotate {
		font-size: 4em;
		display: inline-block;
		-ms-transform: rotate(25deg); 
	    -webkit-transform: rotate(25deg); 
	    transform: rotate(25deg);
	    margin-bottom: 10px;
	}

	#socials {

		list-style: none;
		padding-left: 0;
		font-size: 1.2em;

		a {
			color: $white;
		}
	}
} //end about section

#contact {
	h1 {
		margin-bottom: 30px;
	}
	p {
		// width: 66%;
	}

	form {
		// width: 69%;
	}

	button {
		color: $black;
		display: block;
		border: none;
		background: $white;
		text-transform: uppercase;
		font-weight: 500;
		padding-top: 8px;
		padding-right: 50px;
		padding-bottom: 8px;
		padding-left: 50px;
		margin-bottom: 40px;

		&:focus {
			outline-color: $yellow;
		}
	}
} //end contact section





//helpers for strikethrough on link hover.
.strike {
    position: relative;
    display: inline-block;
}
.strike::before {
    content: '';
    border-bottom: 2px solid $yellow;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}






footer {
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
}

.footer { //sticky footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}



////////////////////////////////
//media queries
///////////////////////////////

//between tablet and desktop
@media screen and (max-width: 992px) {
	nav a {
		margin-right: 20px;
	}
}


//tablet and smaller
@media screen and (max-width: 768px) {

	body {
		background-image: url('../images/background-flipped-dark-sm.jpg');
	}

	body p {
		font-weight: 500;
	}

	#logo, nav {
		margin-bottom: 30px;
	}

	#contact {
		p, form {
			width: 100%;
		}
	}
}







