////////////////////////////////
//media queries
///////////////////////////////

//between tablet and desktop and smaller
@media screen and (max-width: 992px) {
	.nav-tabs li a {
		margin-right: 30px;
	}
}


//tablet and smaller
@media screen and (max-width: 768px) {

	body {
		background-image: url('../images/background-flipped-dark-sm.jpg');
		background-position: top left;
		// background-size: 100%;
	}

	h1 {
		font-size: 2em;
	}

	body p {
		font-weight: 500;
	}

	#logo, nav {
		margin-bottom: 30px;
	}

	#contact {
		p, form {
			width: 100%;
		}
	}

	#about .line-rotate {
		font-size: 2em;
	}
}

//phone only

